.modal {
  box-sizing: border-box;
  inset: 0px;
  overflow: auto;
  position: fixed;
  text-align: center;
  z-index: 999;
}
.modal:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0px;
}
.modal-container {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  inset: 0px;
  position: fixed;
  transition: all 0.1s;
  width: 100%;
  z-index: 999;
}
.modal-inner-container {
	display: inline-block;
  background-color: #fff;
  border-radius: 8px;
  padding: 1rem;
  position: relative;
  width: 90%;
  z-index: 9999;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
}
.modal-close {
  align-items: center;
  appearance: none;
  border-radius: 8px;
  border: none;
  color: #111827;
  background-color: #f5f6fa;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  transition: background-color 0.3s;
}
.modal-close:hover {
  background-color: #eaebed;
}

@media screen and (min-width: 768px) {
  .modal-inner-container {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .modal-inner-container {
    width: 40%;
  }
}
