.project-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1.3rem;
}
.project-title {
	color: #0d062d;
	margin-right: 0.8rem;
}
.project-add {
	font-size: 2.5rem;
	color: #0964ff;
	cursor: pointer;
	transition: color 0.3s ease;
}
.project-add:hover {
	color: #0351d9;
}
.card-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	column-gap: 1rem;
	row-gap: 1rem;
}
.card {
	background-color: #fff;
	padding: 1.2rem;
	border-radius: 16px;
	transition: box-shadow 0.3s ease;
}
.card:hover {
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
.card-header {
	display: flex;
	justify-content: space-between;
}
.card-title {
	font-size: 1.1rem;
	color: #0d062d;
	margin-bottom: 0.5rem;
	font-weight: 700;
}
.card-description {
	color: #787486;
	font-size: 0.8rem;
	margin-bottom: 1.2rem;
}
.card-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.card-edit,
.card-delete {
	font-size: 1.4rem;
	padding: 0.2rem;
	background-color: #787486;
	color: #fff;
	border-radius: 8px;
	margin-right: 0.2rem;
	cursor: pointer;
	transition: all 0.3s ease;
}
.card-delete {
	background-color: #dc3545;
}
.card-edit:hover {
	background-color: #6b6878;
}
.card-delete:hover {
	background-color: #c53241;
}
.card-date {
	color: #787486;
	font-size: 0.8rem;
}
.card-link {
	border-radius: 0.375rem;
	border: 1px solid #0964ff;
	color: #0964ff;
	font-size: 1rem;
	outline: 0;
	padding: 0.375rem 0.75rem;
	overflow: hidden;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	vertical-align: center;
}
.card-link:hover {
	color: #fff;
	background-color: #0d6efd;
}
