.App {
	padding: 1rem;
}
.columns {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	column-gap: 1rem;
	align-items: flex-start;
}
.column {
	margin-bottom: 1rem;
	border-radius: 8px;
	overflow: hidden;
	/* padding: 0.6rem 1rem; */
}
.column-header {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	transition: background-color 0.2s ease;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.3rem;
	padding: 0.6rem;
}
.column-title {
	text-align: left;
}
.column-options {
	font-size: 1.4rem;
	cursor: pointer;
}
.card-list {
	padding-bottom: 8px;
	margin-bottom: 1rem;
}
.inner-list {
	padding: 0.6rem;
}
.card-quote {
	border-radius: 12px;
	border: 2px solid transparent;
	background-color: #ffffff;
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
	padding: 8px;
	min-height: 40px;
	margin-bottom: 1.4rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #091e42;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.gray {
	background-color: transparent;
}
.is-active {
	background-color: rgb(227, 252, 239);
}
.is-draggingFrom {
	background-color: rgb(230, 252, 255);
}
.is-draggingOver {
	background-color: rgb(255, 235, 230);
}
.border {
	border-color: #091e42;
}
